<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Microchat</a>
        <!-- Icons -->
        <!-- Notifications -->
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
                <div class="dropdown">
                    <a class="me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell text-white"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">{{ notifications.length }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li *ngFor="let notification of notifications">
                            <a class="dropdown-item" (click)="openNotification(notification)" href="#">
                                {{ notification.title }}
                            </a>
                        </li>
                        <li *ngIf="notifications.length === 0">
                            <span class="dropdown-item">No new notifications</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
